.select, .operand, .equal, .result {
    font-size: 20px;
}

.operand, .result {
    width: 220px;
    padding: 0 5px;
}

.fieldset {
    padding: 10px;
    text-align: center;
    margin-bottom: 2px;
}

.sign, .submit {
    width: 150px;
    font-size: 20px;
}
